.from__info {
    margin-top: 5rem;
}

form {
    position: relative;
    width: 600px;
    padding: 10px;
    margin: 32px auto 50px auto;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgba(128, 128, 128);
}

form input {
    width: 100%;
    border: none;
    padding: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1.3rem;
    resize: none;
}

form textarea {
    width: 100%;
    border: none;
    padding: 4px 10px;
    outline: none;
    font-size: 1.3rem;
    resize: none;
}

form button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 18px;
    bottom: -18px;
    background: #FFD21E;
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 600;
    color: #478bfa;
    cursor: pointer;
}

form button:hover {
    background: white;
    border: 2px solid #FFD21E;
    color: #055ff9;
}