.note {
    background: #fff;
    width: 240px;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 15px;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.note p {
    font-size: 1rem;
    margin-bottom: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note button {
    position: relative;
    float: right;
    color: #fff;
    background: rgb(241, 55, 55);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 4px;
}

.note button:hover {
    color: rgb(241, 55, 55);
    background: transparent;
    border: 2px solid rgb(241, 55, 55);
}